@import "../helpers/helpers.scss";

.accordian_wrap {
	// Accordian Title
	.accordian_title_wrap {
		cursor: pointer;
		@extend %f_r_a_center;
		justify-content: space-between;
		gap: 10px;
		padding: 25px 10px;
		transition: var(--transition);
		.arrow_icon {
			min-width: 20px;
			max-width: 20px;
			transition: transform 0.3s ease;
			@extend %f_r_a_center;

			span {
				font-size: 18px;
				font-weight: bold;
				display: inline-block;
				transition: transform 0.3s ease;
			}

			&.rotated {
				span {
					transform: rotate(90deg);
				}
			}
		}
	}
	// Accordian Content
	.accordian_content_wrap {
		overflow: hidden;
		max-height: 0;
		transition: max-height 1s ease-in-out, opacity 1s ease-in-out;
		opacity: 0;
		// padding: 0px 10px;
		// padding-bottom: 10px;
		// padding-right: 40px;
	}

	// Active State
	&.active {
		.accordian_title_wrap {
			border-bottom: 2px solid var(--color_primary);
		}
		.accordian_content_wrap {
			max-height: 210vh;
			opacity: 1;
		}
	}
}
