$browser-prefixes: false !default;

:root {
	// Fonts
	// --font_primary: "Poppins", sans-serif;
	// --font_secondary: "Poppins", sans-serif;

	--color_primary: #00344A;
	--color_secondary: #F0EAE0;
	--color_black: #000000;
	--color_white: #F0EAE0;
	--color_text_tint: #FEFBF7;
	--color_bredCrum: #D9C2A6;

	// Extras
	--container_width: 100%;
	--container_left_space: calc((100% - var(--container_width)) / 2);
	--transition: ease all 300ms;

	@media (min-width: 768px) and (max-width: 991px) {
		--container_width: 750px;
	}

	@media (min-width: 992px) and (max-width: 1199px) {
		--container_width: 970px;
	}

	@media (min-width: 1200px) {
		--container_width: 1170px;
	}

	// @media (min-width: 1401px) {
	//   --container_width: 1360px;
	// }
}
