@import "../helpers/helpers.scss";

.ContactPage {
  padding-top: 80px;
  .form_section {
    .writeToUsText{
        top: 20%;
        left: 0;
        position: absolute;
        @media (max-width: 767px) {
          top: 6%;
        }
        @media (min-width: 768px) and (max-width: 992px) {
          top: 6%;
          width: 80%;
        }
    }
    .form_section_wrapper{
      display: flex;
      justify-content: space-between;
      @media (max-width: 992px) {
        flex-wrap: wrap;
      }
      .left_img_wrapper{
        width: 45%;
        padding-right: 20px;
        @media (max-width: 992px) {
          width: 100%;
          padding-right: 0;
        }
        @media (min-width: 768px) and (max-width: 992px) {
            width: 80%;
        }
        @media (min-width: 993px) and (max-width: 1200px) {
            padding-right: 0;
        }
        img{
          margin-left: auto;
          @media (max-width: 767px) {
            // margin: auto;
            width: 50%;
          }
          @media (min-width: 768px) and (max-width: 992px) {
              width: 30%;
          }
        }
      }
      .right_content{
        width: 50%;
        @media (max-width: 992px) {
          width: 100%;
        }
        h2{
          @media (max-width: 992px) {
            text-align: center;
          }
        }
      }
    }
    // .left_img_wrapper {
    //     position: relative;
    //     display: flex;
    //     align-items: center;
    //     justify-content: flex-end;
    //     overflow: visible;
    //     z-index: 1;
    //     @media (max-width: 767px) {
    //       width: 100%;
    //       justify-content: inherit;
    //   }
    //   img{
    //       @media (max-width: 767px) {
    //         margin: auto;
    //     }
    //   }
    // }
  }

  // .contact_img {
  //   width: 100%;
  //   max-width: 320px;
  //   height: auto;
  //   object-fit: contain;
  //   position: relative;
  //   left: -40px;
  //   border-radius: 12px;
  //   transform: translateY(-10%);
  //   @media (max-width: 767px) {
  //       width: 100%;
  //   }
  // }
  // .right_content {
  //   flex: 1;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: flex-start;
  //   align-items: flex-start;
  //   // padding: 48px 32px;
  //   // background: #fff;
  //   min-width: 320px;
  //   min-height: 400px;
  //   z-index: 2;
  //   @media (max-width: 767px) {
  //       flex-wrap: wrap;
  //   }
  //   .writeToUsText{

  //   }
  //   .form_section{}
  // }
  // .writeToUsText {
  //   font-size: 1.1rem;
  //   transform: translateY(35vh);
  //   color: #222;
  //   margin-bottom: 32px;
  //   font-weight: 500;
  //   letter-spacing: 1px;
  //   color: var(--color_primary);
  //   font-weight: 400;
  //   a {
  //     color: var(--color_primary, #0099b7);
  //     text-decoration: underline;
  //     font-weight: 600;
  //     word-break: break-all;
  //   }
  //   @media (max-width: 767px) {
  //         width: 100%;
  //     }
  // }
  .banner_Section{
    position: relative;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0% 10%;
    padding-bottom: 20vh;
    @media (max-width: 767px) {
      padding: 0 15px 40px 15px;
    }
    p{
      padding-top: 2.5rem;
      width: 45%;
      text-align:center;
      @media (max-width: 767px) {
        width: 100%;
      }
      @media (min-width: 768px) and (max-width: 1200px) {
          width: 70%;
      }
    }
    img{
      object-fit: contain;
      @media (max-width: 767px) {
        width: 50%;
      }
    }
    @media (max-width: 767px) {
        width: 100%;
    }
  }
}
