@import "../helpers/helpers.scss";
.weddings_Page{
    padding-top: 80px;
    .banner{
        height: calc(100vh - 80px);
        video{
            // height: 100%;
            width: 100%;
            object-fit: cover;
            height: 100%;
            position: relative;
        }
        .videoDesktop {
            display: block !important;
            @media (max-width: 767px) {
              display: none !important;
            }
          }
        .videoMobile {
            display: none !important;
            @media (max-width: 767px) {
              display: block !important; 
            }
        }
        .banner_section{
            .item{
                position: absolute;
                right: 10%;
                .para_section{
                    width: 70%;
                    margin-left: auto;
                    @media (max-width: 767px) {
                        width: 100%;
                    }
                }

            }
        }
        .weddingBannerBtn {
            position: absolute;
            top: 10%;
            left: 7%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            background: none;
            color: #D9C2A6;
            border: none;
            border-radius: 30px;
            padding: 16px 48px 16px 32px;
            font-size: 1rem;
            font-weight: 300;
            letter-spacing: 0.5em;
            cursor: pointer;
            min-width: 240px;
            text-decoration: none;
            @media (max-width: 767px) {
                left: 0;
                width: 100%;
                padding: 15px;
                font-size: 12px;
            }
        }
        .weddingBannerBtnArrow {
            display: inline-flex;
            align-items: center;
            margin-right: 18px;
            font-weight: lighter;
            width: 58px;
            height: 8px;
        }
        // :global(.slick-dots){
        //     position: absolute !important;
        //     left: -35vw !important;
        //     bottom: 30px !important;
        //     transform: translateX(-50%);
        // }
        // :global(.slick-dots li button:before){
        //     background-color: #DBCEB9;
        // }
    }
    .slider_section{
        width:100%;
        padding: 0px 70px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end ;
        margin-top: 40px;
        @media (max-width: 767px) {
            padding: 0 15px;
        }
        .slider_container{
            width:60%;
            @media (max-width: 767px) {
                width: 100%;
            }
            .item{
                .para_section{
                        font-size: 1rem;
                        color: #696969;
                        font-weight: 400;
                }
            }
        }     
    }
    .weddings_info{
        @media (max-width: 767px) {
            padding-top: 80px;
            padding-bottom: 40px;
        }
        .para_section{
            width: 70%;
            margin: auto;
            padding-bottom: 5%;
            @media (max-width: 767px) {
                width: 100%;
                padding-bottom: 0;
            }
            @media (min-width: 768px) and (max-width: 992px) {
                grid-gap: 20px;
                padding-bottom: 0;
            }
            p{
                font-size: 16px;
            line-height: 1.3;
            @media (max-width: 767px) {
                text-align: center;
            }
            }
        }
    }
    .video_section{
        margin-bottom: 80px;
        position: relative;
        .play_btn{
            top: 50%;
            left: 50%;
            width: 100px;
            position: absolute;
            transform: translate(-50%, -50%);
        }
    }
    .testimonials{
        background-color: var(--color_primary);
        .testAnimation{
            width: 250px;
            margin: auto;
            @media (max-width: 767px) {
                width: 40%;
            }
        }
        img{
            margin: auto;
        }
        .testimonials_section{
            width: 100%;
            margin: auto;
            @media (max-width: 767px) {
                width: 100%;
            }
            .item{
                display: flex;
                flex-direction: column;
                align-items: center;
                p{
                    text-align: center;
                    color: var(--color_text_tint);
                    letter-spacing: 2px;
                }
            }
        }
    }
    .weddings_work{
        display: flex;
        justify-content: space-between;
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
        .left_box{
            width: 49%;
            @media (max-width: 767px) {
                width: 100%;
            }
            .box{
                .box_img{
                    overflow: hidden;
                    img{
                        cursor: pointer;
                        transition: all 0.5s;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                   
                }
                .name_title{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        .right_box{
            width: 49%;
            @media (max-width: 767px) {
                width: 100%;
            }
            .box{
                .box_img{
                    overflow: hidden;
                    img{
                        cursor: pointer;
                        transition: all 0.5s;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                   
                }
                .name_title{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
    .connect_section{
        // background-color: #fff;
        display: flex;
        grid-gap: 30px;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 767px) {
            grid-gap: 10px;
            padding-top: 0;
        }
        @media (min-width: 768px) and (max-width: 992px) {
            grid-gap: 20px;
            padding-top: 80px;
        }
        &.one_connect_section{
            @media (max-width: 767px) {
                padding-top: 60px;
            }  
        }
        .left_img{
            width: 28%;
            @media (max-width: 767px) {
                width: 20%;
            }
            @media (min-width: 768px) and (max-width: 992px) {
                width: 25%;
            }
        }

        .btn_section{
            width: 40%;
            text-align: center;
            @media (max-width: 767px) {
                width: 60%;
            }
            @media (min-width: 768px) and (max-width: 992px) {
                width: 50%;
            }
            .btn{
                a{
                    padding: 10px;
                    letter-spacing: 4px;
                    border: 2px solid var(--color_primary);
                    @media (max-width: 767px) {
                        font-size: 12px;
                        letter-spacing: 1px;
                    }
                    @media (min-width: 768px) and (max-width: 992px) {
                        font-size: 18px;
                    }
                }
            }
        }
        .right_img{
            width: 28%;
            @media (max-width: 767px) {
                width: 20%;
            }
            @media (min-width: 768px) and (max-width: 992px) {
                width: 25%;
            }
        }
    }
    :global(.slick-dots) {
        width: fit-content;
        margin-bottom: 20px;
        position: absolute;
        left: -35vw;
        @media (max-width: 767px) {
            left: 0;
            margin-bottom: -20px;
        }
    }
}
